* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #111927;
  background-image: 
      radial-gradient(at 51% 50%, #9116fe 0, transparent 100%), 
      radial-gradient(at 82% 65%, #111927 0, transparent 55%);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

main.container {
  color: #ffffff;
  backdrop-filter: blur(16px) saturate(70%);
  -webkit-backdrop-filter: blur(16px) saturate(70%);
  background-color: rgba(17, 25, 40, 0.34);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  max-height: 570px;
  max-width: 70vh;
  padding: 2rem;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

main h1 {
  text-align: center;
  margin-bottom: 2rem;
}

/* 
=====================INPUT===============================
*/

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

label {
  margin-top: 1rem;
  display: block;
}

.form {
  --width-of-input: 350px;
  --border-height: 1px;
  --border-before-color: #dddddd;
  --border-after-color: #5d18dc;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
}

/* estilo de entrada */
.input {
  color: #ffffff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
}

/* estilo de borda animada */
.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

/* Passe o mouse na entrada */
input:hover {
  background: var(--input-hovered-color);
}

input:focus {
  outline: none;
}

/* aqui está o código da borda animada */
input:focus ~ .input-border {
  width: 100%;
}

/* 
=====================BUTTON===============================
*/
input[type="button"] {
  margin-top: 2rem;
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: #ffffff;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}

input[type="button"]:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: #ffffff;
  box-shadow: #5d18dc 0px 7px 29px 0px;
}

input[type="button"]:active {
  letter-spacing: 3px;
  background-color: #5d18dc;
  color: #ffffff;
  box-shadow: #5d18dc 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.button {
  justify-content: center;
  display: flex;
}