body {
  background: #1e88b9;
  font: normal 15pt Arial;
}

header {
  color: #ffffff;
  text-align: center;
}

section {
  background: #ffffff;
  border-radius: 30px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px #0000005d;
  justify-content: center;
  display: flex;
}

label {
  display: block;
}

input[type=text], [type=number], [type=email], [type=tel]{
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

input[type=button]{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 18px 70px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #244dbd;
}

.button {
  justify-content: center;
  display: flex;
}